* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
.heroSection,
.heroFooterSection,
.editorPickSection {
  background-color: #f9f9f9;
}

.navbar-search {
  left: 15px;
  top: 13px;
}

.bg-worldNews {
  background-color: #6641ee;
}

.hero_tag_title {
  font-size: 12px;
}

.bg-business {
  background-color: #e3c034;
}

.bg-technology {
  background-color: #e74c3c;
}

.bg-culture {
  background-color: #38ade8;
}

.bg-health {
  background-color: #32d255;
}

.bg-sports {
  background-color: #e8493a;
}

.hero-title {
  font-size: 16px;
}

footer {
  background-color: #1f1f1f;
}

.heroFooterSection img {
  height: 280px;
}

.heroHiddenDivs,
.teamDetailsHiddenDiv {
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000060;
  display: none;
  transition: all;
  transition-duration: 3s;
}

.heroParrentDivs:hover .heroHiddenDivs,
.teamDetailsParentDiv:hover .teamDetailsHiddenDiv {
  display: block;
}

.font12 {
  font-size: 10px;
}
.font14 {
  font-size: 12px;
}
.font16 {
  font-size: 14px;
}
.font18 {
  font-size: 16px;
}
.font20 {
  font-size: 18px;
}
.font24 {
  font-size: 20px;
}
.font26 {
  font-size: 24px;
}
.font28 {
  font-size: 24px;
}
.font32 {
  font-size: 24px;
}

.text-333333 {
  color: #333333;
}

.latestNewsSection {
  background-color: #f08f64;
}

.latestNewsImg {
  width: 100%;
  height: 200px;
}

.technology-cards img {
  width: 100%;
  height: 240px;
}

.kristinWalton {
  width: fit-content;
  background-color: #f08f64;
}

.technologyHoverDiv {
  left: 0;
  right: 0;
  top: 0;
  padding: 10px;
  background-color: #00000060;
  transition: all;
  transition-duration: 3s;
  display: none;
}

.technologyParentDiv:hover .technologyHoverDiv {
  display: block;
}

.turningIdeaHiddenDivs {
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000060;
}

.podcastHoverDive {
  background-color: #00000025;
}

.social-icons-div {
  background-color: #2a2a2a;
  width: 35px;
  height: 35px;
}

.social-titles {
  color: #d9d9d9;
}

.inputDiv {
  width: 280px;
}

.footerEmail {
  left: 20px;
  top: 11px;
}

.subscribeNow {
  background-color: #f08f64;
}
footer form input {
  outline: none;
}

.footerList li {
  color: #999999;
}

.footerBottom {
  color: #999999;
  margin-top: 80px;
}

.orangeContainer {
  background-color: #cf412bc8;
}

.latestText {
  color: #1f1f1f;
  font-size: 105px;
}

.latestTextDiv {
  top: 140px;
  left: 0px;
  right: 0px;
  z-index: -2;
}

.technologySofia {
  left: 30px;
  bottom: 20px;
  right: 30px;
}

.newsText {
  font-size: 100px;
  color: #1f1f1f;
}

.newsHiddenDiv {
  left: -160px;
  right: -100px;
  bottom: -40px;
  z-index: -2;
}

.imgShadow {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #00000063;
}

.footerP {
  color: #878787;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* ...; */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* ...; */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .font12 {
    font-size: 12px;
  }
  .font14 {
    font-size: 14px;
  }
  .font16 {
    font-size: 16px;
  }
  .font18 {
    font-size: 18px;
  }
  .font20 {
    font-size: 20px;
  }
  .font24 {
    font-size: 24px;
  }
  .font26 {
    font-size: 26px;
  }
  .font28 {
    font-size: 28px;
  }
  .font32 {
    font-size: 32px;
  }
  .hero-title {
    font-size: 36px;
  }

  .inputDiv {
    width: 340px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* ...; */
}
